$green: #12e177;
$orange: #ffc72a;
$blue: #4c43d4;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');
body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-style: normal;
  background-color: #d6fc15;
  color: #000;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

#root {
  width: 100vw;
  height: 113vh;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
}

.chota {
  font-size: 1.2rem;
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
}

button {
  background: none;
  border: none;
  outline: none;
  &:hover {
    cursor: pointer;
  }
}

.app {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-green {
  color: $green;
}

.text-orange {
  color: $orange;
}

.history-wrapper {
  width: 300px;
  text-align: center;
  margin-bottom: 20px;
  .history {
    display: inline-block;
    padding: 0;
    margin: 0;
    li {
      list-style: none;
      text-align: left;
      &:before {
        content: '';
        border-radius: 50%;
        display: inline-block;
        height: 5px;
        width: 5px;
        background-color: $green;
        margin-right: 4px;
        margin-bottom: 1px;
      }

      .btn-move {
        color: #fff;
        &.active {
          font-weight: bold;
          color: $green;
        }
      }
    }
  }
}
#text {
  color: #12e177 !important;
}
.status-message {
  margin-bottom: 20px;
  font-size: 1.2rem;
  display: block;
  font-weight: lighter;
  padding: 9px;
  border-radius: 3px;
  background: black;
  color: white;
  .text {
    font-weight: normal;
    color: #d6fc15 !important;
  }
}

.Reset {
  margin-bottom: 20px;
  font-size: 1.2rem;
  display: block;
  font-weight: lighter;
  padding: 11px 38px;
  margin-top: 13px;
  background: white;
  border: 1px solid black;
  font-family: "Montserrat", sans-serif;
  border-radius: 8px;
  color: black;
  transition: 0.3s ease-in-out;
}

.Reset:hover {
  transform: scale(1.1);
}
.green {
  color: #d6fc15;
}

.win {
  color: #d6fc15;
}
.app h2 {
  font-size: 3rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 23px;
}
.btn-reset {
  font-size: 0.8rem;
  color: #fff;
  border-radius: 15px;
  padding: 12px 18px;
  margin-top: 25px;
  transition: all 0.2s;
  background-color: $blue;
  box-shadow: 0px 0px 0px 1px $orange;
  &.active {
    background-color: $orange;
    box-shadow: none;
  }
}

.board {
  .board-row {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid #fff;
    &:last-child {
      border-bottom: none;
    }
    .square {
      width: 96px;
      height: 88px;
      border-right: 2px solid #fff;
      font-size: 4rem;
      color: white;
      padding: 0;
      font-weight: 900;
      overflow: hidden;
      transition: all 0.2s;
      font-family: 'Montserrat', sans-serif;
      &:last-child {
        border-right: none;
      }
      &.winning {
        animation: scaleText 1.4s infinite;
        @keyframes scaleText {
          0% {
            transform: 2.5rem;
          }
          50% {
            font-size: 3.5rem;
          }
          100% {
            font-size: 2.5rem;
          }
        }
      }
    }
  }
}

.board {
  background-color: #000;
  padding: 39px 46px 36px 48px;
  border-radius: 55px;
}

.bg-balls {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-width: 100%;
  z-index: -1;

  &:before,
  &:after {
    content: '';
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }

  &:before {
    background-color: $orange;
    right: -75px;
    bottom: -75px;
    @media screen and (min-width: 476px) {
      width: 220px;
      height: 220px;
      right: -110px;
      bottom: -110px;
    }
  }

  &:after {
    background-color: $green;
    top: -75px;
    left: -75px;
    @media screen and (min-width: 476px) {
      width: 220px;
      height: 220px;
      top: -110px;
      left: -110px;
    }
  }
}

@media only screen and (max-width: 388px) {
  .board {
    border-radius: 41px;
    padding: 13px;
}
  }

